* 
  padding 0
  margin 0
  list-style none
#home,#list
  width 100%
  .input
    padding 112px 0
    text-align center
    position relative
    input[type="text"]
      width 522px
      height 87px
      border-radius 5px
      border 2px solid #F44438
    input[type="button"]
      background #F44438
      height 87px
      width 87px
      line-height 87px
      font-size 2.5rem
      font-weight bolder
      border none
      border-radius 0 5px 5px 0
      color white
      position absolute
      left 1134px
  .plus
    color white
    position absolute
    left 1157px
    top 129px
    font-size 3rem
    cursor pointer
  .square
    width 410px
    height 410px
    background #F44438
    margin 53px auto 0 auto
    border-radius 50px
    box-shadow 0px 0px 99px #D600008A
    input[type="button"]
      width 175px
      height 83px
      color #F44438
      background white
      border-radius 50px 0
      position absolute
      left 990px
      top 691px
      border none
      font normal normal bold 40px/46px Arial Rounded MT
  .breakBlueColor
    color #87AAC4 !important
  .breakBlue
    background #87AAC4
    box-shadow 0px 0px 99px #547894ce
  .bars
    font-size 100px
    color #F44438
    position absolute
    top 100px
    left 1753px
#list
  height 100vh
  background #444444
  position relative
  .close
    color #F44438
    position absolute
    left 1754px
    top 100px
    font-size 7rem
  .all
    h1
      color white
      font-size 50px
      font-family Arial Rounded MT
      position absolute
      top 368px
      left 383px
    ul
      position absolute
      top 469px
      left 435px
      .del-cir
        display block
        border 5px solid white
        border-radius 50%
        width 30px
        height 30px
        margin 20px
        del
          font normal normal normal 30px/41px Arial Rounded MT
          color white
          display block
          width 30px
          height 30px
          vertical-align middle
      li
        margin 15px 0
        input[type="checkbox"]
          display none
        input[type="checkbox"]:checked+div .dot
          display block
        label
          cursor pointer
        span
          color white
          font normal normal normal 30px/41px Arial Rounded MT
          vertical-align middle
        .circle
          display inline-block
          border 5px solid white
          border-radius 50%
          width 30px
          height 30px
          margin-right 20px
          vertical-align middle
          .dot
            border-radius 50%
            background white
            width 12px
            height 12px
            margin 4px 0 0 4px
            display none
  .line
    background-color white
    opacity 20%
    width 4px
    height 493px
    position absolute
    top 369px
    left 961px
  .done
    h1
      color white
      font-size 50px
      font-family Arial Rounded MT
      position absolute
      top 368px
      left 1281px
    ul
      color white
      font normal normal normal 30px/41px Arial Rounded MT
      position absolute
      top 469px
      left 1300px
// home------------------------------------
#home
  font-family Arial Rounded MT
  h1 
    color white
    position absolute
    top 460px
    left 863px
    font-size 170px
  h5
    font-size 60px
    position absolute
    top 560px
    left 1060px
    color white
  &>h2
    color #595959
    position absolute
    top 800px
    left 771px
    border-bottom 2px solid #595959
  &>h2+h2
    position absolute
    top 800px
    left 1038px
    color #7E7E7E
    border none
  p
    color #7E7E7E
    font-size 20px
    position absolute
    top 800px
    left 161px
  .bottom-line
    width 100%
    height 43px
    background #F44438
    position absolute
    bottom 0
  ul
    height 180px
    overflow-y hidden
    position absolute
    top 608px
    left 199px
    li
      font-size 30px
      color #7E7E7E
      .red-dot
        display inline-block
        background-color #F44438
        width 15px
        height 15px
        border-radius 50%
        margin-right 23px
  .bg-red
    background-color #F44438 !important